<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.pooja.carepack"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.BODY_SENSORS" />

    <permission
        android:name="com.pooja.carepack.permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <application
        android:name=".activities.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.pooja.carepack.activities.SplashActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:configChanges="screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.NotificationActivity"
            android:screenOrientation="portrait"/>

        // facebook app id
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBOkjqmhTY1A59794d0Du6yK2o6OceHSbs"/>

        <receiver
            android:name="com.pooja.carepack.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>

                <category android:name="com.reseeit"/>
            </intent-filter>
        </receiver>

        <service android:name="com.pooja.carepack.gcm.GcmIntentService"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="18aa0903edc610576e8f0c6f3ef18cad601d93a9" />

        <!--<activity-->
            <!--android:name="com.yalantis.ucrop.UCropActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppTheme.NoActionBar"/>-->
    </application>

</manifest>
